@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    font-family: Montserrat;
}
.container{
    /* width: 100vw; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    /* height: auto; */
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}
img{
    flex: 1 0 50%;
    object-fit: cover;
}
.text{
    display: flex;
    flex: 1 0 50%;
    min-height: 450px;
    justify-content: center;
    padding: 35px;
    flex-direction: column;
}
.text h4{
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    font-size: 12px;
    opacity: 0.5;
}
.sec h1{
    padding:0px 0px 20px 0px;
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2.1rem;
}
.sec p{
    font-size: 14px;
    padding:0px 0px 20px 0px;
    opacity: 0.5;
}
.image img{
    width: 100%;
}
.price{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap:20px;
}
.price h5{
    color:hsl(158, 36%, 37%);
    text-decoration: line-through;
}
.price h1{
    color:hsl(158, 36%, 37%);
    font-family: Fraunces;
}
.text button{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    padding: 1rem;
    outline: none;
    border: 0px;
    border-radius: 0.5rem;
    background-color: hsl(158, 36%, 37%);
    transition: all 200ms ease-in-out;
    color:white;

}
.text button:hover{
    background-color: hsl(212, 21%, 14%);
}
@media (width<=600px) {
    .container{
        padding: 5px;
    }
    .card{
        width: 90%;
        /* padding: 100px; */
        flex-direction: column;
    }
}